<div id="" class="chat-room" data-room="{{episode._id}}">
  <h1>{{show.name}}: {{episode.title}}</h1>

  <ul id="messages">
    {{#each messages}}
      <li>{{this.username}}: {{this.message}}</li>
    {{/each}}
  </ul>
  <form action="" id="chat-form">
    <input id="m" autocomplete="off" /><button id="btn-message" data-user="{{user.username}}" data-chat="{{chat._id}}">Send</button>
  </form>
</div>
